
.products-wrapper {
  margin-top: 1rem;
  width: 37rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px lightgray;
  width: 18rem;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}
  
  .product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .product-title {
    font-size: 1em;
    margin: 10px 0;
  }

  .product-details {
    font-size: 1.1em;
    color: #555;
  }
  
  .product-price {
    font-size: 1.75em;
    margin: 10px 0;
    color: #000;
  }
  
  .product-button {
    width: 100%;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-button:hover {
    background-color: darkred;
  }
  